<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite">
    <test name="FirstTest">
        <groups>
            <run>
                <include name="JenkinsTest"/>
            </run>
        </groups>
        <classes>
            <class name="jenkinsfirstdemoTest">
            </class>
        </classes>
    </test>
</suite>